<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Shoe</title>
</head>
<body>
    <h1>Edit Shoe</h1>
    <form action="/shoecollection/<%= shoes._id %>?_method=PUT" method="POST"><br>
        Price: <input type="text" name="price" value="<%= edit.price %>"><br>
        Brand: <input type="text" name="brand" value="<%= edit.brand %>"><br>
        <input type="submit" value="Edit Shoe">  
    </form>
</body>
</html>