<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<div class="form-row"></div>
	<title>New Shoes</title>
	</head>
	<body>
		<h1>Add Your New Shoes</h1>
		<form action="/shoecollection" method="POST">
			Brand: <input type="text" name="brand" /><br />
			Price: <input type="text" name="price" /><br />
			Image: <input type="text" name="image" /><br />
 			<input type="submit" name="" value="Add Shoes" />
		</form>
	</body>
	</body>
</html>