<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoes</title>
  </head>
  <body>
    <nav>
      <a href="/shoecollection">Back to the Shoe Collection</a>
    </nav>
    <p><%=shoe.image %></p>
    <p><%=shoe.brand %></p>
    <p><%=shoe.price %></p>
  </body>
</html>