@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    padding: 0px;
    background-color: white;
};

body {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
};

image {
    width: 40%;
    height: 55%;
};

